/*
* @Author: Administrator
* @Date:   2017-12-14 21:30:51
* @Last Modified by:   leon
* @Last Modified time: 2017-12-15 20:26:25
*/

/* 最外层容器 */
.page-wrap{
	padding: 40px 0;
	background-color: #e72955;
}

/* 表单框 */
.user-con{
	position: relative;/* 框中有元素根据其定位 */
	margin: 0 auto;/* 使其居中 */	
	width: 400px;
	background: #fff;
}
.user-con .user-title{
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
	color: #666
}
.user-con .user-box{
	padding: 20px;
}

/* 错误提示框 */
.user-con .user-box .error-item{
	position: relative;
	padding: 4px 0 4px 40px;
	margin-bottom: 10px;
	border: 1px solid red;
	color: red;
	background-color: #fde9e9;
	display: none;
}
/* 错误图标 */
.user-con .user-box .error-icon{
	position: absolute;
	left: 14px;
	top: 50%;
	font-size: 14px;
	margin-top: -7px; 
}

.user-con .user-item{
	position: relative;
	margin-bottom: 20px;
}
.user-con .user-item .user-label{
	position: absolute;
	/* 同时用top和bottom实际上是拉缩了该类绝对定位块的长度 
	使其与其父类相对元素大小关系有呼应 */
	left: 1px;
	top: 1px;
	bottom: 1px;
	width: 40px;
	line-height: 38px;
	background: #f3f3f3;
	font-size: 38px;
	color: #d3d3d3;
	text-align: center;
	border-right: 1px solid #bdbdbd;
}
.user-con .user-item .user-content{
	padding: 10px 0 10px 50px;
	width: 306px;
	height: 18px;
	line-height: 18px;
	font-size: 15px;
	border: 1px solid #bdbdbd;
	outline: none;
}

/* 登录按钮 */
.user-con .btn-submit{
	width: 100%;
	/* padding的颜色就是内容区的背景色 */
	padding: 2px 0;
	text-align: center;
	font-size: 20px;
}

/* 跳转链接 */
.user-con .link-item{
	text-align: right;
	margin-top: 10px;
	color: #999;
}
.user-con .link-item .link{
	margin-left: 10px;
}