/*
* @Author: Administrator
* @Date:   2017-12-13 23:02:32
* @Last Modified by:   leon
* @Last Modified time: 2017-12-16 01:01:47
*/
body{
	// background-color: #666;
}
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}