/*
* @Author: Administrator
* @Date:   2017-12-12 18:09:09
* @Last Modified by:   leon
* @Last Modified time: 2017-12-16 20:41:36
*/
body{
	// background : url('../../image/firefox.png');
}

.keywords-list{
	float: left;
	width: 240px;
	height: 350px;
	padding: 10px 0 ;
	margin-right: 10px;
	background-color: #666;
	color: #fff;
}
.keywords-list .keywords-item{
	padding-left: 10px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}
.keywords-list .keywords-item .link{
	color: #fff;
}
.keywords-list .keywords-item .link:hover{
	color: #c60023;
}
.keywords-list .keywords-item:hover{
	background-color: #999;
}

/* banner-con */
.banner-con{
	/* 这里为什么要用inline-block 才能与左边对齐呢 ????
	左边的ul已经设置成浮动了*/
	// display: inline-block;
	float: left;
	width: 830px;
	background : #eee;
	height: 370px;
}
.banner-con .loading{
	margin-top: 150px;
}
.banner-con .banner-img{
	width: 100%;
	height: 370px;
}
.banner .dots{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	text-align: center;
}
.banner .dots li{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;

	text-indent: -999em;

	border: 2px solid #fff;
	border-radius: 6px;

	cursor: pointer;
	opacity: .4;
}
.banner .dots li.active{
	background-color: #fff;
	opacity: 1
}
/* banner的前一张和后一张按钮 */
.banner-con .banner-arrow{
	position: absolute;
	top: 160px;
	width: 30px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	background-color: #ccc;
	background: rgba(0,0,0,.2);
	cursor: pointer;
}
.banner-con .banner-arrow:hover{
	background-color: #aaa;
	background: rgba(0,0,0,.5);
}
.banner-con .banner-arrow.prev{
	left: 0;
}
.banner-con .banner-arrow.next{
	right: 0;
}


/* floor */
.floor-wrap .floor-title{
	height: 50px;
	line-height: 50px;
	color: #d58717;
	font-weight: normal;
	font-size: 20px;
	border-bottom: 1px solid #d58717;
}
/* 更改各楼层标题颜色*/
.floor-wrap:nth-child(2) .floor-title{
	color: #3b838c;
	border-bottom: 1px solid #3b838c;
} 
.floor-wrap:nth-child(3) .floor-title{
	color: #a93931;
	border-bottom: 1px solid #a93931;
}
.floor-wrap:nth-child(4) .floor-title{
	color: #488bad;
	border-bottom: 1px solid #488bad;
}
.floor-wrap:nth-child(5) .floor-title{
	color: #642633;
	border-bottom: 1px solid #642633;
}

.floor-wrap .floor-list{
	margin-right:-20px; 
	/* 该ul容器的实际宽度就会把1080px撑开20px 成为1100px 
	又因为其外层的w容器是overflow：hidden 所以其溢出是不会显示出来 */

	overflow: hidden;
	/* 清除浮动 */
}
.floor-wrap .floor-list .floor-item{
	position: relative;
	width: 200px;
	height: 220px;
	margin: 15px 20px 15px 0;
	float: left;
	cursor: pointer;
	background-color: #fff;
}
.floor-wrap .floor-list .floor-item:hover{
	box-shadow: 1px 1px 7px #ddd;
}
.floor-wrap .floor-list .floor-item .floor-text{
	/* 绝对定位后脱离文本流 */
	position: absolute;
	top: 12px;
	left: 20px;
	font-size: 16px;
	color: #555;
}
.floor-wrap .floor-list .floor-item .floor-img{
	position: absolute;
	right: 15px;
	bottom: 10px;
	width: 80%;
	height: 75%;
}